<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:fragment="head">

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
            
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    
    <script src="../static/js/CountId/countid.js" th:src="@{/js/CountId/countid.js}"></script>
    
    <script src="../static/js/tabsPlugin/jquery.tabs.js" th:src="@{/js/tabsPlugin/jquery.tabs.js}"></script>
        
    <link rel="stylesheet" href="../static/js/jquery.tabs.css" th:href="@{/js/tabsPlugin/jquery.tabs.css}"/>
    
    
    <link href="../static/css/main.css"
          th:href="@{/css/main.css}" rel="stylesheet" media="screen"/>
          
          
          
</head>
<body>

</body>
</html>