@charset "ISO-8859-1";


#user-stats-table {
	border: 1px solid black;
	width: 80%;
}

#user-pastvotes-table {
	border: 1px solid black;
	width: 80%;
}

.pointresponse > th, td {
    border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {background-color: #f8f8f8;}

.tr-body:hover {background-color: #f2f2f2;}