<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Current Session</title>

	<!--/*/ <th:block th:include="fragments/headincludes :: head"></th:block> /*/-->
	
	
	
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
         
         
    
     
        <div class="container">
        <h2>Session Details</h2>
            <form id="descriptionForm" class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Session Id:</label>
                    <div class="col-sm-2">
                        <div class="form-control-static" th:text="${gamesession.id}">Session Id</div>
                    </div>
					
                    <!-- Timer -->
                    <!-- FUTURE....
                    <label class="col-sm-2 control-label">Time Passed:</label>
                    <div class="col-sm-2">
                    	
                    	
                    	<p id="timeDisplay" class="form-control-static"></p>            	
                    	<input id="timeData" class="timer" type="hidden" data-start="0"></input>
                        <input id="startTime" type="hidden" value="${gamesession.timePassed}"></input>
                    -->
                        
                        <div th:if="${passedUser.role.name() == 'Creator'}">
                        	<input type="hidden" id="userIsCreator" value="true"></input>
                        </div>
                        <div th:unless="${passedUser.role.name() == 'Creator'}">
                        	<input type="hidden" id="userIsCreator" value="false"></input>
                        </div>
                    <!-- </div> -->                   
    			</div>
    			
    			<div class="form-group">
                    <label class="col-sm-2 control-label">Task:</label>
                    <div class="col-sm-10">
                    	<div th:if="${passedUser.role.name() == 'Creator'}" >
                        	<input id="task" class="col-sm-9" type="text" th:attr="value = ${gamesession.taskDescription}"/>
                    	</div>
                    	<div th:unless="${passedUser.role.name() == 'Creator'}" >
                        	<input id="task" class="col-sm-9" type="text" readonly="true" th:attr="value = ${gamesession.taskDescription}"/>
                    	</div>                    
                    </div>
                    
                    
                    <div th:if="${passedUser.role.name() == 'Creator'}"  class="col-sm-3">
                        <p><input class="col-sm-9" type="hidden" id="btnDesc" value="Update Task"/></p>
                    </div>
                </div>
			</form>
				
			<form th:if="${passedUser.role.name() == 'Creator'}" id="voteOperationForm" class="form-horizontal">
                <div class="form-group">
       				<label class="col-sm-2 control-label"></label>                  
               		<div class="col-sm-10">               		
	               		<table>
		               		<tr>
		               			<td><button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off" id="btnToggleVoteVisibility">Toggle Vote Visibility</button></td>
		                   	 	<td><button class="btn btn-primary" type="submit" id="btnClearVotes">Clear Votes</button></td>
		                    	<td><button class="btn btn-primary" id="toggle-point-type" onclick="togglePointType();">Toggle Point Type</button></td>
		                    </tr>
	               		</table>
					</div>
                </div>
                
            </form>              
              
                
            <form id="pointsForm" class="form-horizontal" th:object="${passedUser}">
            	<input type="hidden" id="currentUser" th:value="${passedUser}"/>
            	<input type="hidden" id="currentUsername" th:value="${passedUser.username}"/>
            	<input type="hidden" id="currentUserId" th:value="${passedUser.id}"/>
            	<input type="hidden" id="gameSessionId" th:value="${gamesession.id}"/>
            	<input type="hidden" id="gameSessionShowVotes" th:value="${gamesession.showVotes}"/>
            	<input type="hidden" id="gameSessionPointTypeIsSize" th:value="${gamesession.pointTypeIsSize}"/>
            
                <div class="form-group">
                <div class="points-number-group">
                    <label class="col-sm-2 control-label">Points:</label>
                    <div class="col-sm-10">
                    
                        <table class="pointstable">
	                        <tr>
	                        	<td class="pointstabletd"><button class="pointbutton btn btn-info" value="1">1</button></td>
	                        	<td class="pointstabletd"><button class="pointbutton btn btn-info" value="2">2</button></td>
	                        	<td class="pointstabletd"><button class="pointbutton btn btn-info" value="3">3</button></td>
	                        	<td class="pointstabletd"><button class="pointbutton btn btn-info" value="5">5</button></td>
	                        </tr>
	                        <tr>
	                        	<td class="pointstabletd"><button class="pointbutton btn btn-info" value="8">8</button></td>
	                        	<td class="pointstabletd"><button class="pointbutton btn btn-info" value="13">13</button></td>
	                        	<td class="pointstabletd"><button class="pointbutton btn btn-info" value="21">21</button></td>
	                        	<td class="pointstabletd"><button class="pointbutton btn btn-info" value="40">40</button></td>
	                        </tr>
                        </table>
                    </div>
                </div>
                <div class="points-size-group" style="display:none">
                    <label class="col-sm-2 control-label">Size:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static">
                        	<button class="sizebutton btn btn-info" value="small">Small</button>
                        	<button class="sizebutton btn btn-info" value="medium">Medium</button>
                        	<button class="sizebutton btn btn-info" value="large">Large</button>
                        </p>                        
                    </div>
               </div>  
                    
                    
                </div>
    		</form>
    		
    		<br/>
    		<br/>
    		
    		<!-- Have tabs if user is game's creator - current votes and voting statistics -->
    		<div class="container row" th:if="${passedUser.role.name() == 'Creator'}">
	    		<div data-tabs-role="tabs" class="tabs tabs_style_default tabs_color_blue">
	    			
			   		<div class="tabs__head">
						<button class="tabs__tab" type="button" data-tabs-target="votes-tab" data-tabs-role="tab">Current Votes</button>
						<button class="tabs__tab" type="button" data-tabs-target="user-stats-tab" data-tabs-role="tab">Statistics</button>
					</div>
					
					
					<!-- A tab body -->
					<div class="tabs__body">
						<div class="tabs__pane" data-tabs-id="votes-tab">
							<table class="pointresponse" style="width:400px">
            					
            				</table>
						</div>					
					</div>
					
					<div class="tabs__body">
						<div class="tabs__pane" data-tabs-id="user-stats-tab">
						
							<h4>Statistics</h4>
							
							<table id="user-stats-table">
								<thead><tr>
									<th>User</th>
									<th>Current Vote</th>
									<th>Average Points</th>									
									<th></th>
								</tr></thead>
								<tbody id="user-stats-table-body">
																	
								</tbody>							
							</table>
							
							<br/>
							
							<h4>Voting History</h4>
							
							<table id="user-pastvotes-table">								
									
							</table>
																		
						</div>					
					</div>
			
	   			</div>    		
    		</div>
    		
    		<div th:unless="${passedUser.role.name() == 'Creator'}">
            	<table class="pointresponse" style="width:400px">
            		
            	</table>
            </div>
    		            
            
            <br/>
            <br/>
            <br/>
            <div>
            	<p>Game Session URL: <text th:text="${#httpServletRequest.requestURL}" />
            	<br/>This URL can be used to invite others to join this session.</p>
            </div>
    	</div>
    
    
    
    
</div>

<script>
//Timer stuff
	//document.getElementById('#timeData').style.display = "none";

	var startTime = $("startTime").val();

	$('.timer').countid({
		clock: true,
		dateTplElapsed: "%H:%M:%S"
	});
	
	/*
	$("#timeData").bind("DOMSubtreeModified",function(){
		//$('#timeDisplay').html($("#timeData").text());
		sendUpdateTime();
	});
	*/
	
	/*<![CDATA[*/
		
		if ($("#userIsCreator").val() == "true") {
			//window.setInterval(sendUpdateTime, 1000);
		}
    /*]]>*/
	//window.setInterval(sendUpdateTime, 1000);


    
//Tabs Initialization
$(document).ready(function() {
	$('[data-tabs-role="tabs"]').tabs();

	$(window).on('change.tabs', function(event) {
		event.preventDefault();
		////console.log('change');
	});
});


var supportsLocalStorage = false;
function supportsHtml5Storage() {
    return typeof(Storage) !== "undefined";
}

function getUsernameFromLocalStorage() {
	var storedUsername = localStorage.getItem("stored_default_username");
}

function storeUsernameInLocalStorage() {
	var username = $("#currentUsername").val();
	localStorage.setItem("stored_default_username", username);
}

function displayLocalStorageContents() {
	/*<![CDATA[*/    	
	
    var contents = "";
    var key = "";
    var value = "";
    for (var i = 0; i < localStorage.length; i++) {
        key = localStorage.key(i);
        value= localStorage.getItem(key);
        contents += "index=" + i + "  key=" + key + "  value=" + value;
    }
    return contents;
    
    /*]]>*/
}
	
    
var gameSessionId = $('#gameSessionId').val();
var currentUserId = $('#currentUserId').val();
var inSession = "true";
var typeIsSize = $('#gameSessionPointTypeIsSize').val();
var userIsCreator = $("#userIsCreator").val();


var stompClient = null;
var value = null;

if (window.addEventListener) { // Mozilla, Netscape, Firefox
    window.addEventListener('load', WindowLoad, false);
} else if (window.attachEvent) { // IE
    window.attachEvent('onload', WindowLoad);
}

window.onbeforeunload = confirmExit;
function confirmExit(){
    //alert("confirm exit is being called");
    return true;
}

window.onunload = endSession;
function endSession() {
	inSession = false;
	sessionStorage.setItem("currently_in_session", "false");
	sendCheckInSession();
	
	return true;
}

function WindowLoad(event) {
    //alert("Another onload script");
    //console.log('Calling init..');
    initSockJS();
    
    
    
    if (supportsHtml5Storage()) {
    	supportsLocalStorage = true;
    	//console.log("This browser DOES support local storage....");
    	
    	//localStorage.setItem("testitem", "testitemvalue");
       	//var test = localStorage.getItem("testitem");
       	////console.log("LocalStorage Test Item: " + test);       	
       	////console.log(displayLocalStorageContents());
       	
       	storeUsernameInLocalStorage();
       	
        addSessionChecking();
        
    } else {
    	supportsLocalStorage = false;
    	//console.log("This browser does NOT support local storage....");
    }
       
   
}



function addSessionChecking() {
	sessionStorage.setItem("currently_in_session", "true");
	inSession = "true";
}





function initPoints() {
	value = -1;
	//console.log("Sending to initPoints..");
	sendUpdatePoints(); 
}



$('.pointbutton').click(function(){
    value = $(this).val();
});

$('.sizebutton').click(function(){
    value = $(this).val();
});


$("#pointsForm").submit(function (event) {

    //stop submit the form, we will post it manually.
    event.preventDefault();

    if (userIsCreator == "true") {
    	sendUpdatePointsFromCreator();
    } else {
    	sendUpdatePoints();
    }
    
    
});

$("#descriptionForm").submit(function (event) {

    //stop submit the form, we will post it manually.
    event.preventDefault();
   
    //fire_ajax_submit();
    sendUpdateTask(); 
});

$("#voteOperationForm").submit(function (event) {
    //stop submit the form, we will post it manually.
    event.preventDefault();
});

$('#btnToggleVoteVisibility').click(function(){
    toggleVoteVisibility();
});

$('#btnShowVotes').click(function(){
    sendShowVotes();
});

$('#btnHideVotes').click(function(){
    sendHideVotes();
});

$('#btnClearVotes').click(function(){
    sendClearVotes();
});

$('.btnKickUser').click(function(){
    sendKickUser($(this).val());
});

function kickUserButtonClicked(button) {
	sendKickUser($(button).val());
}

function initSockJS() {
	
	var socket = new SockJS("/sockjs-websocket");
		stompClient = Stomp.over(socket);
		stompClient.debug = function(str) {};
	    stompClient.connect({}, function (frame) {
	        //setConnected(true);
	        //console.log('Connected: ' + frame);
	        stompClient.subscribe('/topic/updatepoints/' + gameSessionId, function (response) {
	            //showResponse(JSON.parse(response.body).content);
	            var b = (JSON.parse(response.body));
	            if (b.fromCreator == true) {
	            	updatePoints((JSON.parse(response.body)));	        		
	        		//sendUpdateTaskNoClear();
	        		sendShowVotes();
	        	} else {
	        		updatePoints((JSON.parse(response.body)));
		        }
	        		        	
	        });
	        
	        stompClient.subscribe('/topic/updatetime/' + gameSessionId, function (response) {
	            //showResponse(JSON.parse(response.body).content);
	        	updateTime((JSON.parse(response.body)));
	        });
	        
	        stompClient.subscribe('/topic/updatetask/' + gameSessionId, function (response) {
	            //showResponse(JSON.parse(response.body).content);
	        	updateTask((JSON.parse(response.body)));	        	
	        });

	        stompClient.subscribe('/topic/updatetasknoclear/' + gameSessionId, function (response) {
	            //showResponse(JSON.parse(response.body).content);
	        	updateTaskNoClear((JSON.parse(response.body)));	        	
	        });
	        
	        stompClient.subscribe('/topic/showvotes/' + gameSessionId, function (response) {
	            //showResponse(JSON.parse(response.body).content);
	        	updatePoints((JSON.parse(response.body)));
	        });
	        
	        stompClient.subscribe('/topic/clearvotes/' + gameSessionId, function (response) {
	            //showResponse(JSON.parse(response.body).content);	            				
	        	updatePointsFromClear((JSON.parse(response.body)));
	        });
	        
	        stompClient.subscribe('/topic/updateuserlist/' + gameSessionId, function (response) {
	            //showResponse(JSON.parse(response.body).content);
	        	updateUserList((JSON.parse(response.body)));
	        });
	        
	        stompClient.subscribe('/topic/userkicked/' + gameSessionId, function (response) {
	            //showResponse(JSON.parse(response.body).content);
	        	sendUpdateUser();
	        	sendUpdateVotes();

				var b = JSON.parse(response.body);
				
	        	if (currentUserId == b.userId) {
	        		window.onbeforeunload = function() {};
	        		window.location.href = "kicked";
	        		
	        	}
			    
	        });
	        
	        stompClient.subscribe('/topic/checkinsession/' + gameSessionId, function (response) {
	            //showResponse(JSON.parse(response.body).content);
	        	updateIsInSession((JSON.parse(response.body)));
	        });
	        
	        stompClient.subscribe('/topic/checkinsession/allusers/' + gameSessionId, function (response) {
	            //showResponse(JSON.parse(response.body).content);
	        	kickFromKickList((JSON.parse(response.body)));
	        });
	        
	        stompClient.subscribe('/topic/updatepointtype/' + gameSessionId, function (response) {
	            //showResponse(JSON.parse(response.body).content);
	        	updatePointType((JSON.parse(response.body)));
	        });
	        
//Other initializations that need messaging and subscriptions to finish first must go here
	        initPoints();	                
	        addToUserList();
	    	requestPointType()

	    	
	    });
	
	    
}


function addToUserList() {	
	//console.log("Updating user list for creator..");
	
	sendUpdateUser();
}



function sendUpdatePoints() {
	/*<![CDATA[*/
	//console.log("SENDING UpdatePoints..");
	
	var request = {}
	//request["user"] = ${"passedUser"};
	request["points"] = value;
	request["userId"] = $("#currentUserId").val();
	request["gameSessionId"] = $("#gameSessionId").val();
	request["showVotes"] = $("#gameSessionShowVotes").val();

	request["fromCreator"] = false;
		        
	stompClient.send("/msg/updateallpoints/" + gameSessionId, {}, JSON.stringify(request));
	/*]]>*/
}

function sendUpdatePointsFromCreator() {
	/*<![CDATA[*/
	//console.log("SENDING UpdatePoints..");
	
	var request = {}
	//request["user"] = ${"passedUser"};
	request["points"] = value;
	request["userId"] = $("#currentUserId").val();
	request["gameSessionId"] = $("#gameSessionId").val();
	request["showVotes"] = $("#gameSessionShowVotes").val();

	request["fromCreator"] = true;
		        
	stompClient.send("/msg/updateallpoints/" + gameSessionId, {}, JSON.stringify(request));
	/*]]>*/
}

function updatePoints(response) {
	/*<![CDATA[*/   
	
		
	var output = "<thead><tr><th>User</th><th>Has Voted</th><th>Points</th></tr></thead>";	

	var currentTotal = 0.0;
	var currentCount = 0;
	var currentAvg = 0.0;
	
	
	for (var i = 0; i < response.usernames.length; i++) {
		
		if (response.showVotes) {
			
			output += "<tr class=\"tr-body\"><td>" + response.usernames[i] + "</td>";
			
			if (response.points[i] != -1) {
				output += "<td>Yes</td><td>" + response.points[i] + "</td>";
				if (!isNaN(response.points[i])) {
					currentTotal += parseFloat(response.points[i]);
					currentCount++;
				} else {
					//If time, put logic to get avg of s,m,l
				}
			} else {
				output += "<td></td><td></td>";
			}
			output += "</tr>";
			
		} else {			
			output += "<tr class=\"tr-body\"><td>" + response.usernames[i] + "</td>";
			
			if (response.points[i] != -1) {
				output += "<td>Yes</td><td></td>";
			} else {
				output += "<td></td><td></td>";
			}
			output += "</tr>";		}			
	}	

	if (response.showVotes) {
		currentAvg = currentTotal / currentCount;
		var formattedCurrentAvg = Number(currentAvg.toFixed(2));
		output += "<tr><th class=\"th-bottom\" colspan=\"2\">Current Average</th><th class=\"th-bottom\">" + formattedCurrentAvg + "</th></tr>";
	}
	//So this hidden input val will update with the correct value.. (for some reason it would not update
	//for all sessions)
	$('#gameSessionShowVotes').val(response.showVotes);
    $('.pointresponse').html(output);
    
    
    sendUpdateUser();

	

    /*]]>*/
}


function updatePointsFromClear(response) {
	/*<![CDATA[*/    
	
    value = -1;
    $('#gameSessionShowVotes').val(false);
	sendUpdatePoints();
	sendUpdateUser();
	sendHideVotes();
		
	var output = "<thead><tr><th>User</th><th>Has Voted</th><th>Points</th></tr></thead>";	

	var currentTotal = 0.0;
	var currentCount = 0;
	var currentAvg = 0.0;
	
	for (var i = 0; i < response.usernames.length; i++) {
		
		if (response.showVotes) {
			
			output += "<tr class=\"tr-body\"><td>" + response.usernames[i] + "</td>";
			
			if (response.points[i] != -1) {
				output += "<td>Yes</td><td>" + response.points[i] + "</td>";
				if (!isNaN(response.points[i])) {
					currentTotal += parseFloat(response.points[i]);
					currentCount++;
				} else {
					//If time, put logic to get avg of s,m,l
				}
			} else {
				output += "<td></td><td></td>";
			}
			output += "</tr>";
			
		} else {			
			output += "<tr class=\"tr-body\"><td>" + response.usernames[i] + "</td>";
			
			if (response.points[i] != -1) {
				output += "<td>Yes</td><td></td>";
			} else {
				output += "<td></td><td></td>";
			}
			output += "</tr>";		}			
	}	

	if (response.showVotes) {
		currentAvg = currentTotal / currentCount;
		var formattedCurrentAvg = Number(currentAvg.toFixed(2));
		output += "<tr><th class=\"th-bottom\" colspan=\"2\">Current Average</th><th class=\"th-bottom\">" + formattedCurrentAvg + "</th></tr>";
	}
	//So this hidden input val will update with the correct value.. (for some reason it would not update
	//for all sessions)
	$('#gameSessionShowVotes').val(response.showVotes);
    $('.pointresponse').html(output);
    
    
    sendUpdateUser();

    /*]]>*/
}

function updatePointsFromCreator(response) {
	/*<![CDATA[*/    
	
    value = -1;
    $('#gameSessionShowVotes').val(false);
	sendUpdatePoints();
	sendUpdateUser();
	sendHideVotes();
		
	var output = "<thead><tr><th>User</th><th>Has Voted</th><th>Points</th></tr></thead>";	

	var currentTotal = 0.0;
	var currentCount = 0;
	var currentAvg = 0.0;
	
	for (var i = 0; i < response.usernames.length; i++) {
		
		if (response.showVotes) {
			
			output += "<tr class=\"tr-body\"><td>" + response.usernames[i] + "</td>";
			
			if (response.points[i] != -1) {
				output += "<td>Yes</td><td>" + response.points[i] + "</td>";
				if (!isNaN(response.points[i])) {
					currentTotal += parseFloat(response.points[i]);
					currentCount++;
				} else {
					//If time, put logic to get avg of s,m,l
				}
			} else {
				output += "<td></td><td></td>";
			}
			output += "</tr>";
			
		} else {			
			output += "<tr class=\"tr-body\"><td>" + response.usernames[i] + "</td>";
			
			if (response.points[i] != -1) {
				output += "<td>Yes</td><td></td>";
			} else {
				output += "<td></td><td></td>";
			}
			output += "</tr>";		}			
	}	

	if (response.showVotes) {
		currentAvg = currentTotal / currentCount;
		var formattedCurrentAvg = Number(currentAvg.toFixed(2));
		output += "<tr><th class=\"th-bottom\" colspan=\"2\">Current Average</th><th class=\"th-bottom\">" + formattedCurrentAvg + "</th></tr>";
	}
	//So this hidden input val will update with the correct value.. (for some reason it would not update
	//for all sessions)
	$('#gameSessionShowVotes').val(response.showVotes);
    $('.pointresponse').html(output);
    
    
    sendUpdateUser();

    /*]]>*/
}

function sendUpdateTask() {
	//console.log("SENDING updateTask..");
	
	var request = {}
	request["gameSessionId"] = $("#gameSessionId").val();
	request["taskDescription"] = $("#task").val();
	        
	stompClient.send("/msg/updatetask/" + gameSessionId, {}, JSON.stringify(request));	
}

function sendUpdateTaskNoClear() {
	//console.log("SENDING updateTask..");
	
	var request = {}
	request["gameSessionId"] = $("#gameSessionId").val();
	request["taskDescription"] = $("#task").val();
	        
	stompClient.send("/msg/updatetasknoclear/" + gameSessionId, {}, JSON.stringify(request));	
}


var tasksInOrder = [];
//tasksInOrder[0] = $('#task').val();

function updateTask(response) {
	$('#task').val(response.taskDescription);
	//resetTime();
	
	sendClearVotes();
	//value = -1;
	//sendUpdatePoints();
	//sendUpdateUser();
	//sendHideVotes();

	
	var inArray = false;
	
	for (t of tasksInOrder) {
		if (t === response.taskDescription) {
			inArray = true;
			break;
		}
	}
	
	if (!inArray) {
		tasksInOrder.push(response.taskDescription);
	}
	
}

function updateTaskNoClear(response) {
	$('#task').val(response.taskDescription);
	//resetTime();
			
	var inArray = false;
	
	for (t of tasksInOrder) {
		if (t === response.taskDescription) {
			inArray = true;
			break;
		}
	}
	
	if (!inArray) {
		tasksInOrder.push(response.taskDescription);
	}

	sendShowVotes();
	
}

function resetTime() {
	$('.timer').countid('setCurrent');
}

function sendShowVotes() {
	//console.log("SENDING showVotes..");	
	
	var request = {}
	request["gameSessionId"] = $("#gameSessionId").val();
	request["showVotes"] = "true";
	
	stompClient.send("/msg/showvotes/" + gameSessionId, {}, JSON.stringify(request));
}

function sendHideVotes() {
	//console.log("SENDING hideVotes..");	
	
	var request = {}
	request["gameSessionId"] = $("#gameSessionId").val();
	request["showVotes"] = "false";
	
	stompClient.send("/msg/hidevotes/" + gameSessionId, {}, JSON.stringify(request));
}

function sendClearVotes() {
	//console.log("SENDING clearVotes..");	
	
	var request = {}
	request["gameSessionId"] = $("#gameSessionId").val();
	request["showVotes"] = "false";
	
	stompClient.send("/msg/clearvotes/" + gameSessionId, {}, JSON.stringify(request));
}

function sendUpdateVotes() {
	//console.log("SENDING updateVotes..");	
	
	var request = {}
	request["gameSessionId"] = $("#gameSessionId").val();
	request["showVotes"] = $("#gameSessionShowVotes").val();
	
	stompClient.send("/msg/updatevotes/" + gameSessionId, {}, JSON.stringify(request));
}


function showVotes(response) {
	/*<![CDATA[*/
    
	var output = "<thead><tr><th>User</th><th>Points</th></tr></thead>";	
	
    for (var i = 0; i < response.usernames.length; i++) {
		output += "<tr class=\"tr-body\"><td>" + response.usernames[i] + "</td><td>" + response.points[i] + "</td></tr>"
	}
	
    $('.pointresponse').html(output);

    /*]]>*/
}

function sendUpdateTime() {
	//console.log("SENDING updateTime..");
	
	
	var request = {}
	request["gameSessionId"] = $("#gameSessionId").val();
	request["timePassed"] = $("#timeData").text();
	
	stompClient.send("/msg/updatetime/" + gameSessionId, {}, JSON.stringify(request));
}

function updateTime(response) {
	/*<![CDATA[*/
    
	var output = "";
	output = response.timePassed;    
	
    $('#timeDisplay').html(output);
    
    if (inSession == true || inSession == "true") {
    	sendCheckInSession();
	}
	
    /*]]>*/
}


function sendUpdateUser() {
	//console.log("SENDING updateUser..");
	//var userId = $("#currentUserId").val();
	//var names = ["gameSessionId", "userId", "currentUser"];
	//var values = [$("#gameSessionId").val(), $("#currentUserId").val(), $("#currentUser").val()];
	
	var request = {};
	//request["names"] = names;
	//request["values"] = values;
	
	//request["userId"] = $("#currentUserId").val();
	
	stompClient.send("/msg/updateuserlist/" + gameSessionId, {}, JSON.stringify(request));
}

function updateUserList(response) {
	/*<![CDATA[*/
		
	var output = "";

	var totalAllUsersAvg = 0.0;
	var countAllUsersAvg = 0;
	var avgAllUsersAvg = 0.0;
	var formattedAvg;

	
	for (var i = 0; i < response.userStatisticsMessages.length; i++) {
		if (!isNaN(response.userStatisticsMessages[i].averagePoints)) {
			formattedAvg = Number(response.userStatisticsMessages[i].averagePoints.toFixed(2));
		} else {
			formattedAvg = response.userStatisticsMessages[i].averagePoints;
		}

		
		output += "<tr><td>" + response.userStatisticsMessages[i].username + "</td><td>" + response.userStatisticsMessages[i].currentVote + "</td><td>" + formattedAvg + "</td>";

		
		output += "<td><button class=\"btnKickUser\" value=\"" + response.userStatisticsMessages[i].userId +"\" onclick=\"kickUserButtonClicked(this);\">Kick User</button></td>";

		output += "</tr>";
		
		if (response.userStatisticsMessages[i].averagePoints != 0) {
			totalAllUsersAvg += response.userStatisticsMessages[i].averagePoints;
			countAllUsersAvg++;
		}
	}

	avgAllUsersAvg = totalAllUsersAvg / countAllUsersAvg;
	var formattedAllUsersAvg = Number(avgAllUsersAvg.toFixed(2));
	
	//output += "<tr><td> </td><td> </td><td> </td><td> </td></tr>";
	output += "<tr><th colspan=\"2\" class=\"th-bottom\">Total Running Average</th><th class=\"th-bottom\">" + formattedAllUsersAvg + "</th><th class=\"th-bottom\"></th></tr>"
	
	$('#user-stats-table-body').html(output);
	
	
	updatePastVotesTable(response);
	/*]]>*/
}

function sendCheckInSession() {
	//console.log("SENDING checkInSession..");
	
	var inSes = sessionStorage.getItem("currently_in_session");
	
	var request = {};
	request["userId"] = currentUserId;
	request["isInSession"] = inSes;
	
	stompClient.send("/msg/checkinsession/" + gameSessionId, {}, JSON.stringify(request));	
}

function checkIfUserStillInSession(id) {
	inSession = sessionStorage.getItem("currently_in_session");
	if (inSession != "true") {
		
		sendKickUser(id);
	} 
}

function updateIsInSession(response) {
	inSession = response.isInSession;
	
	sessionStorage.setItem("currently_in_session", inSession);

	//checkIfUserStillInSession(response.userId);
	sendCheckAllUsersInSession();
	
}

function sendCheckAllUsersInSession() {
	var request = {};
	stompClient.send("/msg/checkinsession/allusers/" + gameSessionId, {}, JSON.stringify(request));	
}

function kickFromKickList(response) {
	/*<![CDATA[*/
	
	for (var i = 0; i < response.kickList.length; i++) {
		sendKickUser(response.kickList[i]);
	}
	
	/*]]>*/
}


function sendKickUser(id) {
	//console.log("SENDING kickUser..");
		
	var request = {};
	request["userId"] = id;
	//request["values"] = values;
	
	//request["userId"] = $("#currentUserId").val();
	
	stompClient.send("/msg/kickuser/" + gameSessionId, {}, JSON.stringify(request));
}


function sendUpdatePastVotesTable() {
	//console.log("SENDING updatePastVotesTable..");
	
	var request = {};
	
	stompClient.send("/msg/updatepastvotestable/" + gameSessionId, {}, JSON.stringify(request));	
}




function updatePastVotesTable(response) {
	/*<![CDATA[*/
	
	var table = "<thead><th>User</th>";

	////console.log("tasksInOrder length: " + tasksInOrder.length);

	var currentTaskTotals = [];
	var currentTaskVoteCount = [];
	
	for (var i = 0; i < tasksInOrder.length; i++) {
		table += "<th>Task " + (i+1) + "</th>";
		//table += "<th>" + tasksInOrder[i] + "</th>";
		currentTaskTotals[i] = 0.0;
		currentTaskVoteCount[i] = 0;
	}
	
	table += "</thead><tbody>";
	
//Table Body Creation
 	for (var i = 0; i < response.userStatisticsMessages.length; i++) {
		table += "<tr><td>" + response.userStatisticsMessages[i].username + "</td>";		
		
		for (var j = 0; j < tasksInOrder.length; j++) {
			////console.log("Task: " + j + "  - Desc: " + tasksInOrder[j] + "  - Points: " + response.userStatisticsMessages[i].pointsPerTask[tasksInOrder[j]]);
			table += "<td>" + response.userStatisticsMessages[i].pointsPerTask[tasksInOrder[j]] + "</td>";

			if (!isNaN(response.userStatisticsMessages[i].pointsPerTask[tasksInOrder[j]])) {
				currentTaskVoteCount[j]++;
				currentTaskTotals[j] += parseFloat(response.userStatisticsMessages[i].pointsPerTask[tasksInOrder[j]]);
			}
		}
		
		table += "</tr>";
	}

 	var temp = "<tr><th class=\"th-bottom\">Task Average</th>";
 
	for (i = 0; i < currentTaskVoteCount.length; i++) {
		//console.log("total for task: " + (i+1) + " " + currentTaskTotals[i] + " count: " + currentTaskVoteCount[i]);
		var avg = currentTaskTotals[i] / currentTaskVoteCount[i];
		var formattedAvg = Number(avg.toFixed(2));
		
		temp += "<th class=\"th-bottom\">" + formattedAvg + "</th>";
	}
	
	temp += "</tr>";

	table += temp;	
	table += "</tbody>";
	
	$('#user-pastvotes-table').html(table);
	/*]]>*/
}


function togglePointType() {
	if (typeIsSize == true) {
		typeIsSize = false;
	} else {
		typeIsSize = true;
	}

	//$('.points-size-group').toggle();
	//$('.points-number-group').toggle();
	
	sendUpdatePointType();
	
}

function sendUpdatePointType() {
	//console.log("SENDING updatePointType..");
	//console.log("typeIsSize = " + typeIsSize);
	var request = {};
	request["booleanValue"] = typeIsSize;
	
	stompClient.send("/msg/updatepointtype/" + gameSessionId, {}, JSON.stringify(request));	
}


function updatePointType(response) {
	typeIsSize = response.booleanValue;
	//console.log("UPDATING Point Type..");
	//console.log("typeIsSize = " + typeIsSize);
	if (typeIsSize == true) {
		$('.points-size-group').show();
		$('.points-number-group').hide();
	} else {
		$('.points-size-group').hide();
		$('.points-number-group').show();
	}
	
}


function requestPointType() {
	var request = {};
	stompClient.send("/msg/requestpointtype/" + gameSessionId, {}, JSON.stringify(request));	
}



function toggleVoteVisibility() {
	var show = $('#gameSessionShowVotes').val();
	if (show == "false") {
		$('#gameSessionShowVotes').val(true);
		sendShowVotes();
	} else {
		$('#gameSessionShowVotes').val(false);
		sendHideVotes();
		
	}
}


</script>



</body>
</html>
